@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");

/* Scaffolding
/* ------------------------- */

.page-footer{
  background-color: #181c26;
}

.espacio-300{
  margin-top: 300px;
}

.espacio-100{
  margin-top: 100px;
}

.espacio-50{
  margin-top: 50px;
}
